/*
 * Copyright (c) 2024 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 * Physical layout for Planck MIT (47 keys with 2U spacebar)
 * Required for ZMK Studio support
 */

#include <physical_layouts.dtsi>

/ {
    planck_hw_physical_layout: planck_hw_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Planck MIT";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            // Row 0 (12 keys)
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            // Row 1 (12 keys)
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100  700  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            // Row 2 (12 keys)
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100  700  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            // Row 3 (11 keys - MIT layout with 2U spacebar)
            , <&key_physical_attrs 100 100    0  300       0     0     0>   // Key 0
            , <&key_physical_attrs 100 100  100  300       0     0     0>   // Key 1
            , <&key_physical_attrs 100 100  200  300       0     0     0>   // Key 2
            , <&key_physical_attrs 100 100  300  300       0     0     0>   // Key 3
            , <&key_physical_attrs 100 100  400  300       0     0     0>   // Lower
            , <&key_physical_attrs 200 100  500  300       0     0     0>   // Space (2U)
            , <&key_physical_attrs 100 100  700  300       0     0     0>   // Raise
            , <&key_physical_attrs 100 100  800  300       0     0     0>   // Key 7
            , <&key_physical_attrs 100 100  900  300       0     0     0>   // Key 8
            , <&key_physical_attrs 100 100 1000  300       0     0     0>   // Key 9
            , <&key_physical_attrs 100 100 1100  300       0     0     0>   // Key 10
            ;
    };
};
